<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean 豆 -->
    <bean id="hello" class="demo.d.Hello">
        <!--name属性对应模型类中的域-->
        <property name="name" value="Tom"/>
        <!--<property name="name" ref=""/>-->
    </bean>
</beans>